:root {
  --color-grey-light: #f7f7f7;
  --color-grey-light-1: #faf9f9;
  --color-grey-light-2: #f4f2f2;
  --color-grey-light-3: #f0eeee;
  --color-grey-light-4: #ccc;
  --color-grey-dark-3: #999;
  --color-grey-dark-2: #777;
  --color-grey-dark-1: #333;
  --color-black-light: #929292;
  --color-black-dark: #444444;
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-20rem);
  }
  80% {
    transform: translateX(2rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }
  80% {
    transform: translateX(-2rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
@keyframes goInTop {
  0% {
    transform: translateY(3rem);
    opacity: 0;
  }
  80% {
    transform: translateY(-1rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes goInBottom {
  0% {
    transform: translateY(-3rem);
    opacity: 0;
  }
  80% {
    transform: translateY(1rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
  text-decoration: none;
  list-style: none;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  scroll-behavior: smooth;
  position: relative;
  overflow-x: hidden;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.7;
}

.heading-primary--main {
  text-transform: uppercase;
  display: block;
  font-size: 1.6rem;
  font-weight: 600;
  letter-spacing: 0.1rem;
  cursor: pointer;
  color: #f7c33f;
}
.heading-primary--sup {
  text-transform: capitalize;
  margin-top: 1rem;
  display: block;
  font-size: 4rem;
  font-weight: 600;
  letter-spacing: 0.5rem;
  cursor: pointer;
}
.heading-primary--sup span {
  color: #4c91bb;
}

.heading-secondary--main {
  text-transform: uppercase;
  display: block;
  font-size: 1.6rem;
  font-weight: 600;
  letter-spacing: 0.1rem;
  cursor: pointer;
  color: rgba(255, 255, 255, 0.774);
}
.heading-secondary--sup {
  text-transform: capitalize;
  display: block;
  color: #fff;
  font-size: 4rem;
  font-weight: 600;
  letter-spacing: 0.5rem;
  cursor: pointer;
}
@media only screen and (max-width: 600px) {
  .heading-secondary--sup {
    font-size: 2rem;
    text-align: center;
  }
}

.u-text-centre {
  text-align: center;
}

.u-margin-top-small {
  margin-top: 2rem;
}

.u-margin-top-middle {
  margin-top: 4rem;
}

.u-margin-top-big {
  margin-top: 8rem;
}

.u-margin-bottom-small {
  margin-bottom: 2rem;
}

.u-margin-bottom-middle {
  margin-bottom: 4rem;
}

.u-margin-bottom-big {
  margin-bottom: 8rem;
}

.u-nopadding {
  padding: 0;
}

.u-padding-top-big {
  padding-top: 8rem;
}

.u-padding-top-middle {
  padding-top: 4rem;
}

.u-padding-top-small {
  padding-top: 2rem;
}

.u-padding-bottom-small {
  padding-bottom: 2rem;
}

.u-padding-bottom-middle {
  padding-bottom: 4rem;
}

.u-padding-bottom-big {
  padding-bottom: 8rem;
}

@font-face {
  font-family: "icomoon";
  src: url("../fonts/icomoon.eot?svm0qo");
  src: url("../fonts/icomoon.eot?svm0qo#iefix") format("embedded-opentype"),
    url("../fonts/icomoon.ttf?svm0qo") format("truetype"),
    url("../fonts/icomoon.woff?svm0qo") format("woff"),
    url("../fonts/icomoon.svg?svm0qo#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-home:before {
  content: "\e900";
}

.icon-play:before {
  content: "\e912";
}

.icon-phone:before {
  content: "\e942";
}

.icon-location:before {
  content: "\e947";
}

.icon-location2:before {
  content: "\e948";
}

.icon-compass2:before {
  content: "\e94a";
}

.icon-map:before {
  content: "\e94b";
}

.icon-clock:before {
  content: "\e94e";
}

.icon-clock2:before {
  content: "\e94f";
}

.icon-alarm:before {
  content: "\e950";
}

.icon-display:before {
  content: "\e956";
}

.icon-facebook2:before {
  content: "\ea91";
}

.icon-instagram:before {
  content: "\ea92";
}

.icon-twitter:before {
  content: "\ea96";
}

.icon-youtube:before {
  content: "\ea9d";
}

.icon-youtube2:before {
  content: "\ea9e";
}

.btn-read:link,
.btn-read:visited {
  margin-top: 1.5rem;
  padding: 1.2rem 2.7rem;
  text-align: center;
  display: inline-block;
  font-size: 1.2rem;
  font-weight: 700;
  letter-spacing: 1.5px;
  line-height: 2.04rem;
  background-color: #64b1d5;
  text-decoration: none;
  color: #fff;
}

.btn-vol:link,
.btn-vol:visited {
  border: none;
  color: #fff;
  background-color: #4c91bb;
  border-radius: 5px;
  padding: 18px 28px;
  line-height: 12px;
  font-size: 1.6rem;
  font-weight: 700;
  outline: none;
  margin-top: 3rem;
  margin-left: 3rem;
  box-shadow: 2px 2px 5px rgba(128, 128, 128, 0.479);
  text-transform: capitalize;
  text-decoration: none;
}

.carousel-inner img {
  width: 100%;
  height: 100%;
}

@media only screen and (max-width: 400px) {
  .carousel {
    display: none;
  }
}

.carousel-indicators li {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin-bottom: 5%;
}
@media only screen and (max-width: 600px) {
  .carousel-indicators li {
    display: none;
  }
}

.carousel-control-prev-icon {
  width: 50px;
  height: 50px;
}

.carousel-control-next-icon {
  width: 50px;
  height: 50px;
}

.donate {
  margin-top: 3rem;
}
@media only screen and (max-width: 1100px) {
  .donate {
    display: none;
  }
}
.donate__btn {
  border: none;
  color: #fff;
  background-color: #f7c33f;
  border-radius: 5px;
  padding: 13px 38px;
  line-height: 22.85px;
  font-size: 1.6rem;
  font-weight: 700;
  outline: none;
  margin-top: 6px;
  box-shadow: 2px 2px 5px rgba(128, 128, 128, 0.479);
}
.donate__btn:focus {
  outline: none;
}
.donate__btn2 {
  border: 1px solid #fff;
  color: #fff;
  background-color: transparent;
  border-radius: 5px;
  padding: 13px 38px;
  line-height: 22.85px;
  font-size: 1.6rem;
  font-weight: 700;
  outline: none;
  margin-top: 6px;
  margin-left: 3rem;
}
.donate__btn2:hover {
  background-color: #4c91bb;
  border-color: transparent;
}
.donate__btn2:focus {
  outline: none;
}

.carousel-caption1 {
  position: absolute;
  top: 30%;
  left: 15%;
  color: #fff;
}
@media only screen and (max-width: 610px) {
  .carousel-caption1 {
    top: 15%;
  }
}
.carousel-caption1 span {
  color: #f7c33f;
}
.carousel-caption1 .red {
  font-weight: 700;
  font-size: 50px;
  animation-name: moveInRight;
  animation-duration: 1s;
  cursor: pointer;
}
@media only screen and (max-width: 950px) {
  .carousel-caption1 .red {
    font-size: 30px;
  }
}
@media only screen and (max-width: 610px) {
  .carousel-caption1 .red {
    font-size: 20px;
  }
}
.carousel-caption1 .blue {
  width: 60%;
  animation-name: moveInLeft;
  animation-duration: 1s;
  cursor: pointer;
  font-size: 20px;
}
@media only screen and (max-width: 950px) {
  .carousel-caption1 .blue {
    font-size: 20px;
  }
}
@media only screen and (max-width: 610px) {
  .carousel-caption1 .blue {
    font-size: 15px;
  }
}

.carousel-caption2 {
  position: absolute;
  text-align: left;
  top: 30%;
  left: 15%;
  color: white;
}
@media only screen and (max-width: 610px) {
  .carousel-caption2 {
    top: 15%;
  }
}
.carousel-caption2 span {
  color: #f7c33f;
}
.carousel-caption2 .red {
  font-weight: 700;
  font-size: 50px;
  animation-name: goInBottom;
  animation-duration: 1s;
  cursor: pointer;
}
@media only screen and (max-width: 950px) {
  .carousel-caption2 .red {
    font-size: 30px;
  }
}
@media only screen and (max-width: 610px) {
  .carousel-caption2 .red {
    font-size: 20px;
  }
}
.carousel-caption2 .blue {
  animation-name: goInTop;
  animation-duration: 1s;
  cursor: pointer;
  font-size: 20px;
  width: 60%;
}
@media only screen and (max-width: 950px) {
  .carousel-caption2 .blue {
    font-size: 20px;
  }
}
@media only screen and (max-width: 610px) {
  .carousel-caption2 .blue {
    font-size: 15px;
  }
}

.feature-box {
  padding: 0 4rem;
}
@media only screen and (max-width: 995px) {
  .feature-box {
    margin-top: 50px;
  }
}
.feature-box:not(:last-child) {
  border-right: 2px solid #fff;
}
@media only screen and (max-width: 995px) {
  .feature-box:not(:last-child) {
    border: none;
  }
}
.feature-box__icon {
  font-size: 5rem;
  color: #4c91bb;
}
.feature-box__heading {
  margin-top: 2rem;
  font-size: 4rem;
  font-weight: 700;
  line-height: 6.2rem;
  text-transform: uppercase;
}
.feature-box p {
  font-size: 2rem;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  line-height: 28.9px;
  color: #4c91bb;
  margin: 0;
}

.member-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20rem 4rem 5rem 4rem;
  cursor: pointer;
  transition: all 0.3s;
  text-align: center;
}
.member-box:hover {
  transform: scale(1.1);
  z-index: 100;
}
.member-box--1 {
  background-image: url(../img/samundra.webp);
  background-size: cover;
  background-position: top;
}
.member-box--2 {
  background-image: url(../img/tilak.webp);
  background-size: cover;
  background-position: top;
}
.member-box--3 {
  background-image: url(../img/bibash.webp);
  background-size: cover;
  background-position: top;
}
.member-box--4 {
  background-image: url(../img/sandesh_home.webp);
  background-size: cover;
  background-position: top;
}
.member-box--6 {
  background-image: url(../img/kussum.webp);
  background-size: cover;
  background-position: top;
}
.member-box--7 {
  background-image: url(../img/asutosh.webp);
  background-size: cover;
  background-position: top;
}
.member-box--8 {
  background-image: url(../img/birendra.webp);
  background-size: cover;
  background-position: top;
}
.member-box--9 {
  background-image: url(../img/nischalsinghbista.webp);
  background-size: cover;
  background-position: top;
}
.member-box__link {
  text-align: center;
}
.member-box__link:hover {
  text-decoration: none;
}
.member-box__heading {
  color: #fff;
  font-size: 2.1rem;
  font-weight: 700;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.774);
}
.member-box p {
  font-size: 1.8rem;
  line-height: 28.9px;
  font-weight: 600;
  letter-spacing: 2px;
  margin: 0;
  margin-top: 1.5rem;
  color: #fff;
  text-transform: capitalize;
}
.member-box__social-icons {
  display: flex;
  align-items: center;
  margin-top: 2rem;
}
.member-box__social-icons li:not(:last-child) {
  margin-right: 3rem;
}
.member-box__social-icons li a {
  padding: 0;
  margin: 0;
}
.member-box__social-icons i {
  font-size: 1.8rem;
  color: rgba(255, 255, 255, 0.774);
}

.top {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  background-color: #a8d8eb;
  color: #fff;
  font-size: 1.4rem;
  font-weight: 400;
  padding: 10px 0;
}
.top i {
  color: #fff;
  font-size: 1.6rem;
}
.top a:link,
.top a:visited {
  color: #fff;
  text-decoration: none;
}
@media only screen and (max-width: 1000px) {
  .top__social {
    display: none;
  }
}
.top__social-icons {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}
.top__social-icons li {
  margin-right: 20px;
}

.footer {
  color: #fff;
  font-size: 1.3rem;
  line-height: 25px;
}
.footer__content {
  background-color: #222222;
  padding: 10vh 12% 16vh 12%;
}
.footer__content--1 {
  margin-top: 2rem;
}
.footer__content--1 img {
  height: 6rem;
}
.footer__content--1-icons {
  margin-top: 4rem;
  padding: 0;
  display: flex;
  align-items: center;
}
.footer__content--1-icons i {
  color: #fff;
  font-size: 1.6rem;
}
.footer__content--1-icons i:hover {
  color: #4c91bb;
}
.footer__content--1-icons li {
  margin-right: 20px;
}
.footer__content--2 {
  margin-top: 2rem;
}
.footer__content--2 h3 {
  font-weight: 700;
  font-size: 15px;
  letter-spacing: 2px;
}
.footer__content--2 ul li a {
  text-decoration: none;
  color: #fff;
}
.footer__content--2 ul li a:hover {
  color: #4c91bb;
}
.footer__content--2 i {
  margin-right: 5px;
  color: #64b1d5;
}
.footer__content--3 {
  margin-top: 2rem;
}
.footer__content--3 h3 {
  font-weight: 700;
  font-size: 15px;
  letter-spacing: 2px;
}
.footer__content--3 ul li {
  margin-top: 10px;
}
.footer__content--3 ul li i {
  margin-right: 5px;
}
.footer__content--3 ul li a {
  text-decoration: none;
  color: #fff;
  text-transform: capitalize;
  border-bottom: 0.5px dotted #fff;
}
.footer__content--3 ul li a:hover {
  color: #4c91bb;
}
.footer__content--4 {
  margin-top: 2rem;
}
.footer__content--4 h3 {
  visibility: hidden;
  font-weight: 700;
  font-size: 15px;
  letter-spacing: 2px;
}
.footer__content--4 ul li {
  margin-top: 10px;
}
.footer__content--4 ul li i {
  margin-right: 5px;
}
.footer__content--4 ul li a {
  text-decoration: none;
  color: #fff;
  text-transform: capitalize;
  border-bottom: 0.5px dotted #fff;
}
.footer__content--4 ul li a:hover {
  color: #4c91bb;
}

.footer__bottom {
  background-color: #000;
  padding: 15px;
}
.footer__bottom p {
  color: #898989;
  font-size: 1.2rem;
  margin: 0;
  padding: 0;
  text-transform: capitalize;
}

.navbar {
  text-transform: uppercase;
  padding: 0.5rem 7%;
  background-color: #fff;
  border-bottom: 2px solid var(--color-grey-light);
}
.navbar img {
  width: 8rem;
}
@media only screen and (max-width: 995px) {
  .navbar img {
    width: 6rem;
  }
}
.navbar-nav .nav-item {
  margin-left: 3rem;
}
.navbar-nav li a {
  font-size: 1.2rem;
  font-weight: 600;
  letter-spacing: 1px;
  line-height: 4rem;
  color: #000;
  position: relative;
  transition: transform 0.3s ease-in-out;
}
@media only screen and (max-width: 950px) {
  .navbar-nav li a {
    border-bottom: 2px solid var(--color-grey-light);
  }
}
.navbar-nav li a:hover {
  color: #64b1d5;
}
.navbar-nav li a:hover::before {
  width: 100%;
  transform: scale(1);
}
.navbar .donates__btn {
  border: none;
  color: #fff;
  background-color: #4c91bb;
  border-radius: 5px;
  padding: 12px 20px;
  line-height: 12px;
  font-size: 1.4rem;
  font-weight: 700;
  outline: none;
  margin-top: 6px;
  margin-left: 3rem;
  box-shadow: 2px 2px 5px rgba(128, 128, 128, 0.479);
}
@media only screen and (max-width: 990px) {
  .navbar .donates__btn {
    display: none;
  }
}
.navbar-toggler i {
  font-size: 2.2rem;
}
.navbar-toggler i:active {
  color: #64b1d5;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

.affix {
  transition: all 0.8s;
}
.affix .navbar-nav li a {
  font-size: 1.2rem;
  letter-spacing: 2px;
  font-weight: 600;
}
.affix .nav-logo {
  width: 6rem;
}

.paffix {
  transition: all 0.8s;
}
.paffix .navbar-nav li a {
  font-size: 1.2rem;
  letter-spacing: 2px;
  font-weight: 600;
}
.paffix .nav-logo {
  width: 6rem;
}

.icon-bar {
  position: fixed;
  bottom: 0%;
  right: 0%;
  opacity: 0;
  z-index: 10000;
}

.icon-bar a {
  float: left;
  display: block;
  flex-direction: row;
  text-align: center;
  padding: 16px 20px;
  transition: all 0.3s ease;
  color: white;
  font-size: 20px;
}

.icon-bar a:hover {
  background-color: #000;
}

.facebook {
  background: #3b5998;
  color: white;
}

.twitter {
  background: #55acee;
  color: white;
}

.instagram {
  background: #dd4b39;
  color: white;
}

.google {
  background: #dd4b39;
  color: white;
}

.linkedin {
  background: #007bb5;
  color: white;
}

.youtube {
  background: #bb0000;
  color: white;
}

.sticky {
  transition: all 0.8s;
  opacity: 1;
}
@media only screen and (max-width: 550px) {
  .sticky {
    display: none;
  }
}

.newbar {
  color: #fff;
}
.newbar__result {
  background-image: linear-gradient(to right bottom, #7ed56fbe, #28b485b0),
    url("../img/1.webp");
  background-size: cover;
  padding: 4rem;
}
.newbar__result h1 {
  text-align: center;
  font-weight: 400;
  font-size: 3rem;
  line-height: 4.5rem;
  text-transform: uppercase;
}
.newbar__result h1 span {
  font-weight: 700;
  text-decoration: underline;
  margin-left: 5px;
}
.newbar__result-content {
  text-align: center;
  text-transform: uppercase;
}
.newbar__result-content h2 {
  font-size: 4rem;
  font-weight: 700;
  line-height: 5rem;
}
.newbar__result-content p {
  font-size: 1.5rem;
  letter-spacing: 2px;
  line-height: 3rem;
}
.newbar__goals {
  background-image: linear-gradient(to right bottom, #d8d664be, #67b428b0),
    url("../img/1a.webp");
  background-size: cover;
  padding: 3rem;
}
.newbar__goals h1 {
  text-align: center;
  font-weight: 400;
  font-size: 3rem;
  line-height: 4.5rem;
  text-transform: uppercase;
}
.newbar__goals ul li {
  border-bottom: 1px dotted #fff;
  margin-top: 2px;
  text-transform: capitalize;
  display: flex;
  justify-content: space-between;
}
.newbar__donate {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to right, #dd6c63be, #b4a628b0),
    url("../img/1b.webp");
  background-size: cover;
  padding: 3rem;
  text-align: center;
}
.newbar__donate h3 {
  font-size: 2rem;
  font-weight: 300;
  letter-spacing: 3px;
  line-height: 2rem;
  text-transform: uppercase;
}
.newbar__donate h1 {
  font-size: 3rem;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 3.5rem;
}
.newbar__donate .btn-check:link,
.newbar__donate .btn-check:visited {
  margin-top: 1.5rem;
  padding: 1rem 2rem;
  text-align: center;
  display: inline-block;
  font-size: 1.4rem;
  line-height: 1.4rem;
  background-color: var(--color-black-dark);
  border-radius: 4rem;
  text-decoration: none;
  color: #fff;
}

.about {
  padding: 10vh 10%;
}
.about__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #64b1d5;
  background-size: cover;
  padding: 5vh 4%;
  color: #fff;
}
.about__content h1 span {
  font-weight: 700;
}
.about__content p {
  font-size: 1.3rem;
  padding: 0;
  margin: 0;
}
.about__write {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem;
}
.about__write p {
  padding: 0;
  margin: 0;
  font-size: 1.4rem;
  color: #898989;
}
.about__write p span a {
  color: #64b1d5;
  display: block;
  margin-top: 5px;
}
.about__write p span a:hover {
  color: #4c91bb;
}

.newbar2 {
  background-color: #05044a;
  color: white;
  text-align: center;
  padding: 60px 8%;
}

.story__img {
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.story__img img {
  width: 100%;
  height: 100%;
  transition: all 0.3s;
}
.story__img img:hover {
  transform: scale(1.2);
}
.story__content {
  background-color: #f6f6f6;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 5vh 10%;
}
.story__content p {
  margin-top: 2rem;
}
.story__content a {
  align-self: flex-start;
}

.staff {
  padding: 15vh 0;
}
.staff__link {
  float: right;
  margin-right: 40px;
}
@media only screen and (max-width: 600px) {
  .staff__link {
    float: left;
    margin-left: 40px;
  }
}

.news {
  padding: 10vh 15%;
}
.news .btn {
  float: right;
}
@media only screen and (max-width: 600px) {
  .news .btn {
    float: left;
  }
}
.news__content-1 {
  cursor: pointer;
  margin: 0;
  padding: 0;
  position: relative;
  overflow: hidden;
  transition: all 0.3s;
}
.news__content-1:hover img {
  transform: scale(1.1);
}
.news__content-1:hover .news__content-1--item p {
  opacity: 1;
}
.news__content-1:hover .news__content-1--item {
  transform: translateY(0px);
}
.news__content-1:after {
  display: block;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  background-color: rgba(0, 0, 0, 0.8);
  transition: all ease;
}
.news__content-1:hover:after {
  width: 100%;
  height: 100%;
}
.news__content-1 img {
  transition: all 0.3s;
}
.news__content-1--item {
  padding: 10px;
  color: #fff;
  position: absolute;
  top: 20%;
  left: 10%;
  transition: all 0.5s;
  transform: translateY(200px);
  z-index: 1000;
}
@media only screen and (max-width: 1200px) {
  .news__content-1--item {
    transform: translateY(0px);
    padding: 0;
    top: 20%;
  }
}
.news__content-1--item a {
  text-decoration: none;
  color: #fff;
}
.news__content-1--item h1 {
  font-size: 3rem;
  line-height: 37.5px;
  font-weight: 700;
}
.news__content-1--item p {
  margin-top: 4rem;
  font-size: 1.4rem;
  line-height: 27.2px;
  opacity: 0;
}

.volunteer {
  padding: 8rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #05044a;
  color: #fff;
}
.volunteer__heading {
  font-size: 50px;
  width: 60%;
  text-align: center;
  text-transform: capitalize;
}
.volunteer__heading span {
  color: #4c91bb;
}

.message {
  padding: 10vh 8% 10vh 6%;
  text-align: center;
}
.message__content {
  margin-top: 10vh;
}
.message__content--img {
  margin: 0;
  padding: 120px;
  background-image: url(../img/president.webp);
  background-size: cover;
  background-position: top;
}
.message__content--letter {
  padding: 40px;
  color: #898989;
}
.message__content--letter p {
  text-align: justify;
  margin: 0;
  padding: 0;
  font-size: 1.4rem;
}
.message__content--letter p span {
  color: #64b1d5;
  text-transform: uppercase;
  display: block;
  text-align: center;
  text-decoration: underline;
  font-weight: 600;
}

.testimonials {
  padding: 15vh 5% 5vh 5%;
  text-align: center;
}
.testimonials .owl-carousel {
  padding: 15vh 0 10vh 0;
  color: #898989;
  text-align: justify;
  font-size: 1.4rem;
}
.testimonials .owl-carousel .slide {
  display: flex;
  width: 100%;
  padding-right: 20px;
}
@media only screen and (max-width: 600px) {
  .testimonials .owl-carousel .slide {
    display: flex;
    flex-direction: column;
  }
  .testimonials .owl-carousel .slide p {
    margin-top: 20px;
  }
}
.testimonials .owl-carousel .slide img {
  width: 8rem;
  height: 8rem;
  margin-right: 5rem;
}

.subscribe__img {
  background-image: url(../img/group2.webp);
  background-size: cover;
  background-position: center;
  padding: 20rem;
}
.subscribe__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #fff;
  background-color: #05044a;
  padding: 5rem;
}
.subscribe__content h1 {
  line-height: 37.2px;
  font-size: 3rem;
  letter-spacing: 1px;
  font-weight: 700;
}
.subscribe__content p {
  color: rgba(255, 255, 255, 0.774);
  margin-top: 2rem;
  width: 90%;
  font-size: 1.4rem;
  line-height: 27.2px;
}
.subscribe__content form input[type="text"] {
  box-sizing: border-box;
  width: 50%;
  text-transform: capitalize;
  border: none;
  outline: none;
  background-color: rgba(255, 255, 255, 0.774);
  padding: 1.2rem 2rem;
}
.subscribe__content form input[type="text"]::-webkit-input-placeholder {
  color: #fff;
  font-size: 1.2rem;
  text-transform: uppercase;
}
.subscribe__content form button {
  padding: 1.2rem 2.8rem;
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase;
  background-color: #4c91bb;
  color: #fff;
  border: none;
  outline: none;
  margin-left: -5px;
}

.membership {
  padding: 15vh 5%;
}
.membership h1 {
  font-size: 40px;
  line-height: 70px;
  font-weight: 700;
  position: relative;
}
.membership h1::before {
  content: "";
  bottom: 0;
  left: 0;
  border-bottom: 3px solid #64b1d5;
  position: absolute;
  width: 70px;
}

.bar {
  margin: 0;
  padding: 22rem 10rem 8rem 10rem;
  background-image: linear-gradient(to right bottom, #4c90bbb2, #64b1d5a2),
    url(../img/banner.webp);
  background-size: cover;
  background-position: bottom;
}
@media only screen and (max-width: 600px) {
  .bar {
    padding: 22rem 10rem 6rem 10rem;
  }
}

.content {
  padding: 15vh 5%;
}
.content h1 {
  font-size: 40px;
  line-height: 70px;
  font-weight: 700;
  position: relative;
  margin-left: -30px;
}
@media only screen and (max-width: 1200px) {
  .content h1 {
    margin-left: 0;
  }
}
.content h1::before {
  content: "";
  bottom: 0;
  left: 10px;
  border-bottom: 3px solid #64b1d5;
  position: absolute;
  width: 70px;
}
.content p {
  margin-top: 4rem;
  font-size: 1.6rem;
  text-align: justify;
  color: #898989;
}

.details {
  padding: 15vh 8%;
}
.details__data {
  padding: 0 2%;
}
.details__data h1 {
  font-size: 35px;
  line-height: 70px;
  font-weight: 700;
  position: relative;
  margin-left: -30px;
}
@media only screen and (max-width: 1200px) {
  .details__data h1 {
    margin-left: 0;
  }
}
.details__data h1::before {
  content: "";
  bottom: 0;
  left: 10px;
  border-bottom: 3px solid #64b1d5;
  position: absolute;
  width: 70px;
}
.details__data p {
  margin-top: 4rem;
  font-size: 1.5rem;
  text-align: justify;
  color: #898989;
}
.details__image {
  padding: 0 2%;
}
.details__image .composition {
  margin-top: 20rem;
  position: relative;
}
@media only screen and (max-width: 990px) {
  .details__image .composition {
    display: none;
  }
}
.details__image .composition__photo {
  width: 70%;
  position: absolute;
  box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.4);
  border-radius: 2px;
  z-index: 0;
  transition: 0.5s;
}
.details__image .composition__photo--p1 {
  top: -2rem;
  left: 0;
  outline: 10px solid #64b1d5;
  outline-offset: 1rem;
}
.details__image .composition__photo--p2 {
  top: 4rem;
  right: 0;
  outline: 10px solid #64b1d5;
  outline-offset: 1rem;
}
.details__image .composition__photo--p3 {
  top: 10rem;
  left: 15%;
  outline: 10px solid #64b1d5;
  outline-offset: 1rem;
}
.details__image .composition__photo:hover {
  outline: 2rem solid #64b1d5;
  outline-offset: 1.8rem;
  border: 0;
  transform: scale(1.05) translateY(-1.5rem);
  box-shadow: 0 3.5rem 5rem rgba(0, 0, 0, 0.6);
  z-index: 1;
}
.details__image .composition__photo:not(hover) {
  transform: scale(0.95);
}
.details__image .composition:hover {
  transform: scale(0.95);
}

.member {
  padding: 10vh 5% 5vh 5%;
}
.member h1 {
  font-size: 40px;
  line-height: 70px;
  font-weight: 700;
  position: relative;
  margin-left: -30px;
}
@media only screen and (max-width: 1200px) {
  .member h1 {
    margin-left: 0;
  }
}
.member h1::before {
  content: "";
  bottom: 0;
  left: 0;
  border-bottom: 3px solid #64b1d5;
  position: absolute;
  width: 70px;
}
.member p {
  margin-top: 4rem;
  font-size: 1.6rem;
  text-align: justify;
  color: #898989;
}

.staffs {
  padding: 0vh 5% 15vh 5%;
}
.staffs__content .div {
  padding: 40px;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.25);
  transition: 0.5s;
}
.staffs__content .div:hover {
  box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.35);
  transform: translateY(-1rem) scale(1.03);
}
.staffs__content .social-icons {
  margin: 0;
  padding: 0;
  font-size: 30px;
  display: flex;
  align-items: center;
}
.staffs__content .social-icons li {
  margin-right: 20px;
}
.staffs__content .heading-tertiary--main {
  display: block;
  font-size: 2.2rem;
  font-weight: 700;
  margin-top: 30px;
  color: #64b1d5;
}
.staffs__content .heading-tertiary--sup {
  display: block;
  margin-top: 10px;
  color: #898989;
  display: block;
  font-size: 1.4rem;
  font-weight: 600;
}
.staffs__content hr {
  width: 10%;
  border: 2px solid #64b1d5;
}
.staffs__content p {
  font-size: 1.4rem;
  line-height: 28px;
  color: #898989;
}

.event {
  padding: 10rem 10%;
}
@media only screen and (max-width: 900px) {
  .event__container {
    margin-top: 3rem;
  }
}
.event__details {
  background-color: #fff;
  padding: 3rem;
  border: 2px solid var(--color-grey-light);
  transition: 0.5s;
}
.event__details a {
  font-size: 2rem;
  font-weight: 700;
  line-height: 3.6rem;
  text-decoration: none;
  color: #000;
}
.event__details:hover {
  transform: translateY(-1rem) scale(1.03);
  box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.35);
}
.event__details-bar {
  margin-top: 2rem;
}
.event__details-bar ul {
  display: flex;
  align-items: center;
}
.event__details-bar ul li {
  color: #64b1d5;
  display: flex;
  align-items: center;
  margin-right: 20px;
}
.event__details-bar ul li i {
  margin-right: 5px;
  font-size: 12px;
  margin-bottom: 10px;
}
.event__details-bar ul li p {
  color: #64b1d5;
}
.event__details p {
  text-align: justify;
  font-size: 1.4rem;
  color: #898989;
}

.error-cover {
  height: 55vh;
  position: relative;
}

.error--text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.contact {
  padding: 15vh 5%;
}
.contact h1 {
  font-size: 40px;
  line-height: 70px;
  font-weight: 700;
  position: relative;
}
.contact h1::before {
  content: "";
  bottom: 0;
  left: 0;
  border-bottom: 3px solid #64b1d5;
  position: absolute;
  width: 70px;
}
.contact h2 {
  margin-top: 4rem;
  font-size: 30px;
  line-height: 50px;
  font-weight: 600;
}
.contact ul {
  margin-top: 2rem;
  color: #898989;
}
.contact ul li {
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 1px;
}
.contact ul li a {
  text-decoration: none;
  color: #898989;
}
.contact ul li a:hover {
  color: #4c91bb;
}
.contact__form input[type="text"],
.contact__form select,
.contact__form textarea {
  width: 100%;
  padding: 10px 20px;
  margin: 6px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 1rem;
  box-sizing: border-box;
}
.contact__form--btn {
  border: none;
  color: #fff;
  background-color: #4c91bb;
  border-radius: 5px;
  padding: 12px 30px;
  text-transform: uppercase;
  line-height: 22.85px;
  font-size: 1.6rem;
  font-weight: 700;
  outline: none;
  margin-top: 6px;
  box-shadow: 2px 2px 5px rgba(128, 128, 128, 0.479);
}
.contact__form--btn:focus {
  outline: none;
}

.gallery img {
  max-width: 100%;
}
.gallery .filtermenu {
  width: 100%;
  margin: 20px auto;
}
.gallery .filtermenu li {
  border: 1px solid #ccc;
  padding: 4px 12px;
  display: inline-block;
  border-radius: 6px;
  cursor: pointer;
}
.gallery .filtermenu li.active {
  background: #ccc;
}
.gallery .container-fluid {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}
.gallery .post {
  width: 225px;
  margin: 5px;
}
.gallery .post-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}
.gallery .post-thumb {
  margin-bottom: 10px;
}
.gallery .post-txt {
  font-size: 12px;
}

.donation {
  background-color: #f6f6f6;
  padding: 15vh 10%;
}
.donation h1 {
  font-size: 40px;
  line-height: 70px;
  font-weight: 700;
  position: relative;
}
.donation h1::before {
  content: "";
  bottom: 0;
  left: 0;
  border-bottom: 3px solid #64b1d5;
  position: absolute;
  width: 70px;
}
.donation .pad {
  padding: 50px;
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.25);
  transition: 0.5s;
}
.donation .pad:hover {
  box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.35);
  transform: translateY(-1rem) scale(1.03);
}
.donation .esewa img {
  width: 16rem;
}
.donation .esewa__detail {
  padding-top: 20px;
}
.donation .esewa__detail h1 {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 20px;
}
.donation .esewa__detail p {
  margin-top: 10px;
  font-weight: 600;
  color: #898989;
}
.donation .esewa__detail p span {
  margin-left: 20px;
  color: #000;
  font-weight: 400;
}

/*# sourceMappingURL=style.css.map */
